name: asan-build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
     # install dependencies
    - name: Install GoogleTest
      run: sudo apt-get update && sudo apt-get install -y libgtest-dev cmake
    - name: Checkout submodules
      run: git submodule update --init --recursive
 
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -yq \
          build-essential cmake ninja-build clang pkg-config \
          libboost-dev libfl-dev libtbb-dev capnproto libcapnp-dev \
          libgtest-dev libspdlog-dev libfmt-dev libboost-iostreams-dev zlib1g-dev

    - name: Configure CMake
      working-directory: ${{github.workspace}}/
      run: |
        rm -rf build
        cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -GNinja -DCMAKE_C_COMPILER=clang -DENABLE_SANITIZERS=ON -DPYTHON_INTERFACE=OFF -DCMAKE_CXX_STANDARD=20
  

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      env:
        PYTHONMALLOC: malloc
      run: ctest -VV -E ".*[p|P]ython.*" -C ${{ env.BUILD_TYPE }}

